<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>Simple Sidebar - Start Bootstrap Template</title>
{% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/simple-sidebar.css" rel="stylesheet') }}">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        

        {% endblock %}
    </head>
    <body>
        <div class="container">
              

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/" class="list-group-item list-group-item-action bg-light">Lister Etudiant</a>
        <a href="/etudiant/create" class="list-group-item list-group-item-action bg-light">Enregistrer Etudiant</a>
        <a href="/chambre" class="list-group-item list-group-item-action bg-light">Lister Chambre</a>
        <a href="/chambre" class="list-group-item list-group-item-action bg-light">Enregistrer Chambre</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        {# <button class="btn btn-primary" id="menu-toggle">Affichage Menu</button> #}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
      </nav>


      <!--      -->
      <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    
    </div>
            

            {% block javascripts %}
            
            
                <!-- Bootstrap core JavaScript -->
                <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
                <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

                <!-- Menu Toggle Script -->
                <script>
                    $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    });
                </script>  

            {% endblock %}
     
        
    </body>
</html>
